body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#input-container {
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#input-container label, #input-container input, #input-container select, #input-container button {
    margin: 5px;
    padding: 5px;
}

#placar {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#botoes {
    margin: 20px auto;
    width: 80%;
}

#winButton, #lossButton {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#winButton {
    background-color: #4CAF50;
    color: white;
    border: none;
}

#lossButton {
    background-color: #f44336;
    color: white;
    border: none;
}
