body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#placar {
    background-color: #eee;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
    border-radius: 5px;
}

#placar div {
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
}

#winButton {
    background-color: green;
    color: white;
    border: none;
}

#lossButton {
    background-color: red;
    color: white;
    border: none;
}


#limparButton {
    background-color: gray;
    color: white;
    border: none;
}
